
<div class="banner">
	<div class="container">
		<div class="banner-bottom">
			
			<div class="banner-bottom-right">
				<div  class="callbacks_container">
					<ul class="rslides" id="slider4">
						<li>
							<div class="banner-info">
								<h3>Your Chocolate Heaven</h3>
								<p>delivered straight to your door</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="banner-bottom-right">
				<div  class="callbacks_container">
					<img src="{{ asset('images/chocolates.jpg') }}" width="100%" />
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="shop">
			<a href="{{ path('products') }}">SHOP NOW</a>
		</div>
	</div>
</div>