<div class="online-strip">
    <div class="col-md-4 follow-us">
        <h3>follow us : <a class="facebook" href=""></a></h3>
    </div>
    <div class="col-md-4 shipping-grid">
        <div class="shipping">
            <img src="{{ asset('images/shipping.png') }}" alt="" />
        </div>
        <div class="shipping-text">
            <h3>Free Shipping</h3>
            <p>on orders over &pound;50</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-4 online-order">
        <div class="shipping">
            <img src="{{ asset('images/cart.png') }}" alt="" />
        </div>
        <div class="shipping-text">
            <h3>Order Online</h3>
            <p>get next day delivery</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>